.emptyResult{
	margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
	border-style: dotted;
	text-align: center;
}
.conferma {
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  background-color:white;
  border:1px solid green;
  color:green;
  padding:1em;
  margin-top:1em;
  text-align:center;
  text-decoration:none;
  transition: border,background-color 0.2s ease-in-out;
  cursor:pointer;
}
.conferma:hover {
  background-color:#4CAF50;
  color:white;
  border:1px solid white;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
}

table {
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
#cestino,#totale{
  text-align: center;
}