body{
	margin: 0px;
}
#content_nav{
	width: 100%;
	background-color: grey; 
	margin-left: 142px;
	text-align: center;
	padding-right: 30px;
	margin-top: 0px;
	display: inline-block;
}

#content_nav a{
	margin-right: 30px;
	font-size: 18px;
	text-decoration: none;
}

#content_nav a:visited{
	color: white;
	text-decoration: none;
}

#content_nav a:hover{
	color: #ff9933;
}

#content_nav a:active{
	color: #ff9933;
}

#menu{
	width: 100px;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: rgb(39, 39, 39);
	color: rgb(170, 170, 170);
	padding: 20px 20px;
	text-align: center;
}
.pubblicizza{
	margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
	border-style: dotted;
	text-align: center;
}
.aggiungi{
	margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
#vendita{
	width: 300px;
	height: 355px;
}

figcaption{
	align: right;
}
.nome{
	text-align: left;
	color: blue;
}
aside {
  background-color:white;
  height: 100%;
  width:300px;
  padding:2%;
  position:fixed;
  top:0;
  bottom:0;
  box-sizing:border-box;
  text-align: center;
  box-shadow:1px 1px 1px 1px rgba(0,0,0,0.33);
  display: none;
}

aside#search {
  transition: left 0.25s ease-in-out;
  z-index:10;
}
.closeButton {
  display:block;
  position:absolute;
  font-size: 15px;
  top:10px;
  left:calc(100% - 30px);
  width:20px;
  height:20px;
  background-image: url("../immagini/close.png");
  background-size:cover;
  color:#3F51B5;
  text-decoration:none;
  transition: all 0.3s ease-in-out;
  opacity:0.66;
}

.closeButton:hover {
  transform:rotate(360deg);
}