#registerForm{
	margin-top: 25px;
}
form div{
	margin: 3px auto;
}
.textInput{
	/*marker-top: 2px;*/
	height: 28px;
	font-size: 20px;
	padding: 10px;
	width: 100%;
}
.lightwide{
	width:100%;
}
.error{
	color: #FF1F1F;
}

.divForm{
	width: 50%;
	margin: auto;
	padding: 15px 0;
	/*float: center;*/
	opacity: 1;
}

/*admin.php*/
